html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    title My Diploma Project
  body

    header
      .container
        nav
          .logo 
            img(src="../img/daisy-logo.png", alt="Daisy logo")
          .nav-li About
          .nav-li Portfolio
          .nav-li Services
          .nav-li Contact
        
        .header-text
          .upper-text Clients 
            span.upper-text-white in your business
          .lower-text Your clients on the internet. Learn how to receive them.
          .button-text I want clients

        .button-slidedown
          img(src="../img/slider-down.png", alt="slider-down")


    main
      section.you-receive 
        .container.you-receive-content
          .you-receive-head WHAT CAN 
            span.you-receive-head-red YOU RECEIVE?
          .you-receive-text Daisy is sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. 
          .you-receive-wrapper
            .wrapper-block
              .you-receive-img
                img(src="../../img/rocket.png", alt="rocket")
              .wrapper-title CLIENTS
              .wrapper-line
              .wrapper-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean 
            .wrapper-block
              .you-receive-img-white 
                img(src="../../img/monitor.png", alt="monitor")
              .wrapper-title BRANDING
              .wrapper-line
              .wrapper-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean 
            .wrapper-block
              .you-receive-img 
                img(src="../../img/stats.png", alt="stats")
              .wrapper-title MARKETING
              .wrapper-line
              .wrapper-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean 
            .wrapper-block
              .you-receive-img 
                img(src="../../img/speaker.png", alt="speaker")
              .wrapper-title ADV.
              .wrapper-line
              .wrapper-text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean 
          
          .button-slidedown-white
            img(src="../../img/slider-down-white.png", alt="slider-down-white")

      section.expand-ur-business

        .expand-text EXPAND 
          span.expand-text-white YOUR BUSINESS
        .expand-button Join Us
        .button-slidedown
          img(src="../img/slider-down.png", alt="slider-down")

      section.we-do
        .container
          .we-do-head What do we do?
          .we-do-wrapper
            .we-do-text
              .text-block-title Landing pages
              .text-block-content This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a 
              .we-do-button More details
            .we-do-image
              img(src="../img/apple-devices.png", alt="apple-devices")
          .button-slidedown-white
            img(src="../img/slider-down-white.png", alt="slider-down")

      section.ads
        .container
          .ads-wrapper
            .ads-image
              img(src="../img/macbook.png", alt="macbook")
            .ads-text
              .ads-title Advertising
              .ads-content This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam
              .ads-button More details
          .button-slidedown-white
            img(src="../img/slider-down-white.png", alt="slider-down")
      
      section.we-do
        .container
          .we-do-wrapper.marketing
            .we-do-text
              .text-block-title Marketing kit
              .text-block-content This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam 
              .we-do-button More details
            .we-do-image
              img(src="../img/MK.png", alt="marketing kit")
          .button-slidedown-white
            img(src="../img/slider-down-white.png", alt="slider-down")

      section.portfolio
        .container
          .pf-title Portfolio
          .pf-navigation
            .pf-nav-text All
            .pf-nav-slash /
            .pf-nav-text Entertainment
            .pf-nav-slash /
            .pf-nav-text Sport
            .pf-nav-slash /
            .pf-nav-text Business
            .pf-nav-slash /
            .pf-nav-text Building

          .pf-wrapper
            .pf-wr-block
              img(src="../img/portfolio-1.png", alt="bike")
              .pf-hover-block
                .pf-hover-text1 Mountain bikes
                .pf-hover-text2 +
            .pf-wr-block
              img(src="../img/portfolio-6.png", alt="paint")
              .pf-hover-block
                .pf-hover-text1 Art
                .pf-hover-text2 +            
            .pf-wr-block
              img(src="../img/portfolio-5.png", alt="bus")
              .pf-hover-block
                .pf-hover-text1 Transport
                .pf-hover-text2 +            
            .pf-wr-block
              img(src="../img/portfolio-3.png", alt="books")  
              .pf-hover-block
                .pf-hover-text1 Presents
                .pf-hover-text2 +            
            .pf-wr-block
              img(src="../img/portfolio-4.png", alt="study")
              .pf-hover-block
                .pf-hover-text1 Soft
                .pf-hover-text2 +            
            .pf-wr-block
              img(src="../img/portfolio-2.png", alt="cars")
              .pf-hover-block
                .pf-hover-text1 Cars
                .pf-hover-text2 +

          .pf-button I want landing page
          .button-slidedown
            img(src="../img/slider-down-white.png", alt="")


